body {
	font-size: 1.5rem;
}

/*============================================ seemore ===========================================*/
.seemore-padding {
	padding: 5rem 1.5rem;
}

.seemore-margin {
	margin: 0 0.25rem;
}

.seemore-row {
	margin: 0.5rem;
	cursor: pointer;
}

.seemore-img-box {
	flex: 2;
	text-align: center;
}

.seemore-border {
	border: 1px solid black;
}

.seemore-picture {
	max-width: 100%;
	max-height: 420px;
	object-fit: cover;
	object-position: center;
}

.seemore-paragraf {
	flex: 4;
	text-indent: 50px;
}

.seemore-paragraf > p {
	padding-left: 1.5rem;
}


/*============================================ details ===========================================*/
.details-padding, .login-padding, .facility-padding {
	padding: 5rem 5rem;
}

.details-padding > h1.display-4 {
	margin-top: 3rem;
}

.img {
	background-image: url(https://compathy-magazine-assets.compathy.net/uploads/2016/11/Mount-Mitake-640x480.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 540px;
	flex: 1;
}

.details-image {
	max-width: 1920px;
	max-height: 540px;
	object-fit: cover;
	object-position: center;
}

.details-desc {
	margin: 2rem 0;
}

.details-reviews {
	border: 1px solid black;
	padding: 2rem;
}

.details-reviews > .profile-picture {
	flex: 1;
	text-align: center;
	margin-left: -2rem;
}

.profile-picture img {
	width: 204px;
	height: 225px;
	border: 1px solid black;
}

.details-reviews >.comment {
	flex: 4;
}

.comment .d-flex > .rating {
	flex: 1;
}
.comment .d-flex > .date {
	flex: 4;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 2.5rem;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.details-padding > textarea {
	resize: none;
	height: 225px;
}

.details-padding .d-flex.lex-row > .ml-auto {
	padding-top: 1rem;
	align-self: flex-end;
}


/*============================================ login ===========================================*/
.login-form-padding {
	padding-top: 3rem;
}

.login-padding #email, .login-padding #password {
	width: 40%; 
	margin: auto;
}

.login-padding .justify-content-between.col-4 {
	align-self: center;
}


/*============================================ facility ===========================================*/
.facility-padding > h1 {
	margin-bottom: 3rem
}

.facility-padding #googleMap {
	width:100%;
	height:600px;
}

.facility-padding > hr {
	margin: 5rem 0 2rem;
	border-top: 0.3rem solid #aaa;
}

.facility-padding .facility.row .col-xl-3 {
	padding-top: 0.6rem; 
	padding-bottom: 0.6rem;
}